<div class="container nice">
    <h1>TRACK & TRACE</h1>   

    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">         
          <div class="modal-body">
            <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
              <div class="mb-3">
                <label for="ticket_id" class="form-label">Ticket ID: </label>
                <input formControlName="search" [class.is-invalid]="searchField.touched && searchField.invalid" type="number" class="form-control" id="ticket_id">
                <div *ngIf="searchField.touched && searchField.hasError('required')" class="d-block invalid-feedback">Please provide a Ticket ID.</div>
              </div>             
              <button [disabled]="searchForm.invalid" type="submit" class="mt-3 btn btn-primary w-100 submit-btn">Search ticket</button>
            </form>
          </div>
        </div>
      </div>

    <ng-container *ngIf="ticket">
        <app-ticket [ticket]="ticket"></app-ticket>
    </ng-container>
</div>
