.cart {
    height: 100vh
}

.progresses {
    display: flex;
    align-items: center
}

.line {
    width: 76px;
    height: 6px;
    background: #FF0000;
}

.steps {
    display: flex;
    background-color: #FF0000;
    color: #fff;
    font-size: 12px;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 50%
}

.check1 {
    display: flex;
    background-color: #FF0000;
    color: #fff;
    font-size: 17px;
    width: 60px;
    height: 60px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 10px
}

.button-link {
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #069;
    text-decoration: underline;
    cursor: pointer;
    padding-left: 15px !important;
  }

%button-base {
    height: 50px;
    width: 100px;   
    margin-top: 2em; 
}

.reopen-btn {
    @extend %button-base;
    margin-right: 7em;    
}

.cancel-btn {
    @extend %button-base;
}

.background-muted {
    background-color: #fafafc
}